{{>header}}

<form method="POST" class="addMem" autocomplete="off">
    <h2 class="center">Editing for {{member.name}}</h2>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name : </label>
        <input type="text" name="name" required class="form-control" value="{{member.name}}" id="exampleInputEmail1" />
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">RegNo. : </label>
        <input type="text" name="regno" value="{{member.regno}}" required class="form-control"
            id="exampleInputEmail1" />
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Start:</label>
        <input type="date" name="startDate" value="{{ convertDateFormat  member.start}}" required class="form-control"
            id="exampleInputEmail1" />
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">End:</label>
        <input type="date" name="endDate" value="{{ convertDateFormat  member.end}}" required class="form-control"
            id="exampleInputEmail1" />
    </div>

    <button type="submit" class="btn btn-success" style="margin-bottom: 5px;">Update</button>

    <a href="/viewall" class="btn btn-primary">View All</a>
</form>