{{>header}}

<div class="tableContainer mt-4">

    <div class="tableDiv">
        <h1 style="text-align: center " class="mb-3">All Members</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">RegNo</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <div class="addstudent"
                    style="display: flex; justify-content:center;align-items: center; padding-bottom: 25px;">

                    <a href="/addMember"><img
                            src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/512/external-add-user-instagram-flatart-icons-outline-flatarticons.png"
                            style="width: 40px; height: 40px;" /></a>

                </div>
                <div class="container mb-4 w-75">

                    <form action="/searchMember" method="GET">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" name="name" placeholder="Name">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control " name="regno" placeholder="Registration No">
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-primary" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </div>



                {{#each members }}
                <div class="head">
                    <tr>
                        <th scope="row">{{this.name}}</th>
                        <th>{{this.regno}}</th>
                        <th class="stat ">{{this.computedStatus}}</th>
                        <td>
                            <div class="d-flex justify-content-end gap-2">

                                <!-- view button -->
                                <form action="/viewMember/{{this._id}}" method="GET">
                                    <button type="submit" class="btn btn-success custom-btn">View</button>
                                </form>

                                <!-- edit button -->
                                <form action="/editMember/{{this._id}}" method="GET">
                                    <button type="submit" class="btn btn-primary custom-btn">Edit</button>
                                </form>
                                <!-- Delete Confirmation Modal -->
                                <div class="delete-btn">
                                    <button class="btn btn-danger custom-btn" data-bs-toggle="modal"
                                        data-bs-target="#deleteConfirmationModal">Delete</button>
                                </div>

                                <!-- Delete Confirmation Modal -->
                                <div class="modal fade" id="deleteConfirmationModal" tabindex="-1"
                                    aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirmation
                                                </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are you sure you want to delete this member?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Cancel</button>
                                                <form action="/delete/{{this._id}}" method="POST">
                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </div>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<script>
    const statusElements = document.querySelectorAll(".stat");

    statusElements.forEach(element => {
        const status = element.textContent.trim();

        if (status === "active") {
            element.style.color = "green";

        } else {
            element.style.color = "red";
        }
    });
</script>