{{>header}}


<div class="memTable mt-4">
    <div class="mb-4">
        <h1>Name: {{member.name}}</h1>
        <h2>Reg No: {{member.regno}}</h2>
    </div>
    <div class="form-btn">

        <form action="/viewall" method="GET">
            <button type="submit" class="btn btn-primary custom-btn">Back</button>
        </form>

    </div>
    <table class="table table-striped">
        <h2 class="center">Payments</h2>
        <tbody>
            <tr>
                <th scope="col">Amount</th>
                <th scope="col">Start</th>
                <th scope="col">End</th>
            </tr>

            {{#each payments}}
            <tr>
                <th scope="row">{{this.amount}}</th>
                <th style="color : {{{this.color}}">{{this.formattedStartDate}}</th>
                <th style=" color : {{this.color}}">{{this.formattedEndDate}}</th>
            </tr>
            {{/each}}

        </tbody>
    </table>
</div>